.category{
    display: flex;
    justify-content:center;
    align-items:stretch;
    text-align: center;
    flex-wrap: wrap;
    margin: 15px;
}

.button-style{
    border: none;
    background-color: white;
    cursor: pointer;  
    margin: 25px; 
}
.movie-box{
    display: flex;
    justify-content: space-between;
}
.movies-f{

}
.iframe-work{
    display: flex;
    flex-wrap: wrap;    
    width: 40%;
}
@media screen and (max-width:780px) {
    .category{
        margin-top: 130px;
    }
    .button-style{
        margin-left: 1px;
    }
    .iframe-work{
        width: 80%;
        margin: 20px 40px;
    }
}