.button-style{
    align-items: center;
    width: 100%;
    border: none;
    background-color: white;
    margin: 15px; 
    cursor: pointer;   
}
.movie-box{
    display: flex;
    justify-content: space-between;
}
.iframe-work{
    width: 45%;
}
@media screen and (max-width:780px) {
    .category{
        margin-top: 130px;
    }
    .button-style{
        margin-left: 1px;
    }
    .iframe-work{
        width: 80%;
        margin: 20px 40px;
    }
}