.category{
    display: flex;
    justify-content:center;
    align-items:stretch;
    text-align: center;
    flex-wrap: wrap;
    margin: 15px;
}

.button-style{
    border: none;
    background-color: white;
    cursor: pointer;  
    margin: 25px; 
    font-family: 'Montserrat', sans-serif;
}
.movies-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-foto{
    display: flex;
    justify-content: center;
}
.foto-beta{
    display: flex;
    justify-content: center;

}
.main-foto-beta{
    width: 1220px;
    height: 400px;
}
.movies-f{
    display: flex;
    justify-content: center;
}
.iframe-work{
    width: 600px;
    margin: 10px;
}
@media screen and (max-width:1260px) {
    .main-foto-beta{
        width: 600px;
        height: 250px;
    }
}
@media screen and (max-width:780px) {
    .main-foto-beta{
        width: 680px;
        height: 250px;
    }
    .category{
        margin-top: 140px;
    }
    .button-style{
        margin-left: 1px;
    }
    .iframe-work{
        width: 80%;
        margin: 20px 40px;
    }
}
@media screen and (max-width:770px) {
    .main-foto-beta{
        width: 290px;
        height: 150px;
    }
}