.fakeimg{
    width: 700px;
    height: 400px;
    background: green;
}
.conatiner-contact{
    font-family: "Varta", Sans-serif;
    margin: 15px;

}
.first-box{
  display: flex;
    gap: 20px;
}
.work-toge{
    margin: 15px;
}
.about-me{
    line-height: 1.8em;
}
.main-text-work{
    font-size: 45px;
    margin: 20px 0;
}
.send-me{
    margin: 20px 0;
}
form{
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    max-width: 550px;
}
input{
    padding: 5px;
}
@media screen and (max-width:1200px) {
    .first-box{
        display: flex;
        flex-wrap: wrap;
    }
}